;; Requires Java 21+ for Panama Foreign Function & Memory API
{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}}

 ;; Note: No external dependencies! Uses Java 21+ Panama FFI

 :aliases
 {:dev {:extra-paths ["dev" "test" "examples" "bench"]
        :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                     criterium/criterium {:mvn/version "0.4.6"}}}

  :bench {:extra-paths ["bench"]
          :extra-deps {criterium/criterium {:mvn/version "0.4.6"}}
          :main-opts ["-m" "clj-ebpf.bench-runner"]}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :examples {:extra-paths ["examples"]}

  :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.1.1"}
                      cider/cider-nrepl {:mvn/version "0.47.1"}}
         :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  ;; API Documentation with codox
  ;; Usage: clojure -X:codox
  :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
          :exec-fn codox.main/generate-docs
          :exec-args {:source-paths ["src"]
                      :output-path "docs/api"
                      :doc-paths ["docs/guides"]
                      :metadata {:doc/format :markdown}
                      :source-uri "https://github.com/yourusername/clj-ebpf/blob/{version}/{filepath}#L{line}"
                      :namespaces [clj-ebpf.core
                                   clj-ebpf.maps
                                   clj-ebpf.programs
                                   clj-ebpf.events
                                   clj-ebpf.dsl
                                   clj-ebpf.dsl.core
                                   clj-ebpf.dsl.alu
                                   clj-ebpf.dsl.mem
                                   clj-ebpf.dsl.jump
                                   clj-ebpf.dsl.atomic
                                   clj-ebpf.dsl.instructions
                                   clj-ebpf.helpers
                                   clj-ebpf.errors
                                   clj-ebpf.arch
                                   clj-ebpf.constants
                                   clj-ebpf.utils
                                   clj-ebpf.syscall
                                   clj-ebpf.xdp
                                   clj-ebpf.tc
                                   clj-ebpf.perf
                                   clj-ebpf.cgroup
                                   clj-ebpf.lsm
                                   clj-ebpf.btf
                                   clj-ebpf.elf
                                   clj-ebpf.relocate]}}}}
